.App {
  display: flex;
  height: 100%;
}

.App-toolbar {
  width: 20rem;
  flex-grow: 1;
  padding: 1rem;
  overflow: auto;
}

.App-toolbar > h1 {
  margin-top: 1rem;
  text-align: center;
}

.App-editor {
  width: 20rem;
  flex-grow: 5;
}

.App-toolbar > footer {
  font-size: 0.8rem;
  margin-top: 2rem;
  padding: 1rem 0;
  border-top: 1px solid var(--color-separator);
}
