.GridCell {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  flex-basis: 3.5rem;
  flex-shrink: 0;
}

.GridCell-inert {
  pointer-events: none;
}

.GridCell-textarea {
  width: 100%;
  height: 100%;
  font-size: 2.5rem;
  font-family: sans-serif;
  resize: none;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  padding: 0.2rem;
  border: 1px solid var(--color-cell-border);
  margin: 0;
  position: relative;
  color: var(--color-text-dark);
  background-color: var(--color-cell-bg-letter);
  outline: none;
}

.GridCell-textarea.GridCell-focus,
.GridCell-textarea:focus {
  border-color: var(--color-border-light-blue);
  box-shadow: 0 0 0 0.2rem var(--color-border-blue);
  z-index: var(--z-index-GridCell-focus);
}

.GridCell-textarea:focus {
  box-shadow: 0 0 0 0.2rem var(--color-border-blue), 0 0 0 0.25rem #fff,
    0 0 0.5rem 0.2rem #000;
}

.GridCell-letter .GridCell-textarea {
  background-color: var(--color-cell-bg-letter);
}

.GridCell-empty .GridCell-textarea {
  background-color: var(--color-cell-bg-empty);
}

.GridCell-textarea.GridCell-hint {
  background-color: var(--color-cell-bg-hint);
  font-size: 0.6rem;
  line-height: 1.1;
  padding: 0 0.1rem;
}

.GridCell-split .GridCell-textarea {
  padding: 0;
  display: block;
}

.GridCell-split-equal .GridCell-textarea {
  height: 50%;
}

.GridCell-split-horizontal .GridCell-textarea1 {
  height: 25%;
}

.GridCell-split-horizontal .GridCell-textarea2 {
  height: 75%;
}

.GridCell-split-vertical .GridCell-textarea1 {
  height: 25%;
  margin-bottom: -25%;
  transform: rotate(-90deg) translate(-100%, 0);
  transform-origin: 0 0;
  cursor: vertical-text;
}

.GridCell-split-vertical .GridCell-textarea2 {
  margin-left: 25%;
  width: 75%;
}

.GridCell-decoration-black {
  /* Compensate for border-width:1px */
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  margin: 1px;
  position: relative;
}

.GridCell-symbols {
  position: absolute;
  z-index: var(--z-index-GridCell-symbols);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  color: var(--color-text-dark);
}

.GridCell-has-focus .GridCell-symbols {
  z-index: var(--z-index-GridCell-focus-symbols);
}

.GridCell-symbols svg {
  position: absolute;
  top: 0;
  left: 0;
}

.GridCell-rounded .GridCell-textarea {
  border: none;
  border-radius: 50%;
}

.GridCell-rounded .GridCell-symbols {
  transform: scale(0.8);
}

/*
 * The purpose of the overlay is to center the text in each cell, which seems
 * very difficult to do for a <textarea>.
 */
.GridCell-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  display: flex;
}

.GridCell-has-focus:not(.GridCell-inert) .GridCell-overlay {
  display: none;
}

.GridCell-overlay > .GridCell-textarea {
  white-space: pre-wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.GridCell-split-equal .GridCell-overlay,
.GridCell-split-horizontal .GridCell-overlay {
  flex-direction: column;
}

.GridCell-split-vertical .GridCell-overlay .GridCell-textarea1 {
  /*
   * Avoid `writing-mode` in the real <textarea>, since it causes arrow keys to
   * mean something different.
   * Here, however, it'll simplify the layout.
   */
  writing-mode: vertical-rl;
  height: auto;
  margin: 0;
  transform: rotate(180deg);
  transform-origin: center;
  width: 25%;
}

.GridCell-split-vertical .GridCell-overlay .GridCell-textarea2 {
  margin: 0;
  width: 75%;
}

@media print {
  textarea.GridCell-textarea {
    display: none !important;
  }

  .GridCell-has-focus .GridCell-overlay {
    display: flex !important;
  }

  .GridCell-textarea {
    background-color: transparent !important;
  }

  .GridCell-textarea.GridCell-focus {
    border-color: var(--color-cell-border);
    box-shadow: none;
  }

  .GridCell-is-margin {
    display: none;
  }
}
