.ToolbarCell-row {
  display: flex;
  flex-wrap: wrap;
}

.ToolbarCell-row > div {
  text-align: center;
}

.ToolbarCell-commands button {
  padding: 0;
  background-color: var(--color-border-button);
  margin: 0.5rem;
}

.ToolbarCell-commands button:disabled {
  background-color: var(--color-border-button-disabled);
}

.ToolbarCell-commands button:disabled > .GridCell,
.ToolbarCell-disabled {
  opacity: 0.5;
}

.ToolbarCell-categories button {
  border-radius: 50%;
}
