:root {
  --transition-duration: 0.2s;

  --z-index-button-disabled: 0;
  --z-index-button: 1;
  --z-index-button-active: 2;
  --z-index-button-focus: 3;
  --z-index-GridCell-symbols: 1;
  --z-index-GridCell-focus: 2;
  --z-index-GridCell-focus-symbols: 3;

  --color-bg-button-active: #445;
  --color-bg-dark-red: #400;
  --color-bg-dark: #282c34;
  --color-bg-light: #eee;
  --color-border-blue: #06f;
  --color-border-button-disabled: #666;
  --color-border-button: var(--color-cell-border);
  --color-border-light-blue: #6cf;
  --color-border-red: #800;
  --color-cell-bg-black: #333;
  --color-cell-bg-empty: #dfd;
  --color-cell-bg-hint: #eee;
  --color-cell-bg-letter: #fff;
  --color-cell-border: #999;
  --color-separator: #555;
  --color-text-dark: #333;
  --color-text-light-blue: #6cf;
  --color-text-light-red: #fee;
  --color-text-light: #fff;
  --color-text-muted: #888;
}

@media (prefers-reduced-motion) {
  :root {
    --transition-duration: 0;
  }
}

* {
  box-sizing: border-box;
}

html {
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button {
  cursor: pointer;
  position: relative;
  outline: none;
  border: 0.2rem solid var(--color-border-button);
  padding: 0.3rem 0.8rem;
  background-color: var(--color-bg-dark);
  color: var(--color-text-light);
  transition: var(--transition-duration);
  z-index: var(--z-index-button);
}

button + button {
  margin-left: -0.2rem;
}

button:disabled {
  cursor: auto;
  border-color: var(--color-border-button-disabled);
  color: var(--color-text-muted);
  z-index: var(--z-index-button-disabled);
}

button:active {
  background-color: var(--color-bg-button-active);
}

button.active {
  border-color: var(--color-border-blue);
  background-color: #06f3;
  color: var(--color-text-light);
  box-shadow: 0 0 0 #fff, 0 0 0 0 #fff,
    0 0 0rem 1px inset var(--color-border-light-blue);
  z-index: var(--z-index-button-active);
}

button:focus,
button:hover:not(:disabled) {
  box-shadow: 0 0 0.5rem #fff, 0 0 0 1px #fff, 0 0 0.5rem 1px inset #555;
  z-index: var(--z-index-button-focus);
}

button.active:focus,
button.active:hover:not(:disabled) {
  box-shadow: 0 0 0.5rem #fff, 0 0 0 1px #fff,
    0 0 0 1px inset var(--color-border-light-blue);
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

th,
td {
  padding: 0.1rem 0.5rem;
}

kbd {
  background-color: var(--color-bg-light);
  border-radius: 3px;
  border: 1px solid #0003;
  color: var(--color-text-dark);
  display: inline-block;
  font-weight: bold;
  padding: 0.1rem 0.2rem;
  margin-right: 0.1rem;
  white-space: nowrap;
}

.alert {
  border: 1px solid transparent;
  padding: 1rem;
  margin: 1rem;
}

.alert-error {
  background-color: var(--color-bg-dark-red);
  border-color: var(--color-border-red);
  color: var(--color-text-light-red);
}

.text-muted {
  color: var(--color-text-muted);
}

.text-muted a {
  color: inherit;
  transition: var(--transition-duration);
}

.text-muted a:hover,
.text-muted a:focus {
  color: var(--color-text-light-blue);
  outline: none;
}

.list-inline {
  list-style: none;
  padding: 0;
  margin: 1rem -0.5rem;
}

.list-inline > li {
  display: inline-block;
  margin: 0 0.5rem;
}

.mr-3 {
  margin-right: 1rem;
}

@media print {
  .d-print-none {
    display: none !important;
  }

  html {
    background-color: unset;
    color: unset;
  }
}
